<!--*****************************-->
<!--********** HEADER ***********-->
<div class="card shadow rounded border-light-subtle p-3 mb-2">
  <div class="row">
    <!-- TITLE - NAV -->
    <div class="col-12 d-flex align-items-start">
      <nav
        class="ms-1"
        style="--bs-breadcrumb-divider: '>'"
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb pb-0 mb-0">
          <li class="breadcrumb-item fs-5">
            <a href="/dashboard" class="text-decoration-none text-dark">
              <i class="fa-solid fa-house me-1"></i>
              Inicio
            </a>
          </li>
          <li class="breadcrumb-item active fs-5" aria-current="page">
            Tiendas
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!--**************************-->
<!--********** BODY **********-->
<div class="row">
  <div class="col-4">
    <div class="card shadow rounded border-light-subtle p-3">
      <p class="fw-medium mb-1">Nueva</p>
      <hr class="text-muted mt-0 mb-3" />

      <!-- District -->
      <div class="form-floating mb-3">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option selected>Chorrillos</option>
          <option value="1">Chorrillos</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label for="floatingSelect">Selecciona distrito</label>
      </div>

      <!-- Code -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="codeInput"
          [value]="'Ejemplo: BCHO3'"
        />
        <label for="codeInput">Codigo</label>
      </div>

      <!-- Name -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="nameInput"
          [value]="'Ejemplo: CHORRILLOS 03'"
        />
        <label for="nameInput">Nombre de tienda</label>
      </div>

      <!-- Buttons -->
      <div class="row">
        <div class="col">
          <button type="reset" class="btn btn-secondary w-100">
            <i class="fa-solid fa-xmark"></i>
            Cancelar
          </button>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success w-100">
            <i class="fa-solid fa-floppy-disk"></i>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <!--**************************-->
    <!--********** LIST **********-->
    <div class="card shadow rounded border-light-subtle p-3">
      <!-- TABLE -->
      <div class="table-responsive mb-3">
        <table class="table table-striped text-center">
          <thead>
            <tr class="text-nowrap">
              <th scope="col">#</th>
              <th scope="col">CODIGO</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">DISTRITO</th>
              <th scope="col">REGISTRADO POR</th>
              <th scope="col">FECHA REGISTRO</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-nowrap">
              <th scope="row">1</th>
              <td>BCHO1</td>
              <td>CHORRILLOS 01</td>
              <td>Chorrillos</td>
              <td>Herbert Pro</td>
              <td>Mayo, 5 - 2025</td>
            </tr>
            <tr class="text-nowrap">
              <th scope="row">2</th>
              <td>BCHO2</td>
              <td>CHORRILLOS 02</td>
              <td>Chorrillos</td>
              <td>Herbert Pro</td>
              <td>Mayo, 5 - 2025</td>
            </tr>
            <tr class="text-nowrap">
              <th scope="row">3</th>
              <td>BBAR1</td>
              <td>BARRANCO 01</td>
              <td>Barranco</td>
              <td>Herbert Pro</td>
              <td>Mayo, 5 - 2025</td>
            </tr>
            <tr class="text-nowrap">
              <th scope="row">4</th>
              <td>BBAR2</td>
              <td>BARRANCO 02</td>
              <td>Barranco</td>
              <td>Herbert Pro</td>
              <td>Mayo, 5 - 2025</td>
            </tr>
            <tr class="text-nowrap">
              <th scope="row">5</th>
              <td>BSUR1</td>
              <td>SURCO 01</td>
              <td>Surco</td>
              <td>Herbert Pro</td>
              <td>Mayo, 5 - 2025</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--  <ngb-pagination [collectionSize]="filteredProducts.length || 0" [(page)]="page" [pageSize]="pageSize"/>-->
    </div>
  </div>
</div>
