<!--*****************************-->
<!--********** HEADER ***********-->
<div class="card shadow rounded border-light-subtle p-3 mb-2">
  <div class="row">
    <!-- TITLE - NAV -->
    <div class="col-12 d-flex align-items-start">
      <nav
        class="ms-1"
        style="--bs-breadcrumb-divider: '>'"
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb pb-0 mb-0">
          <li class="breadcrumb-item fs-5">
            <a href="/dashboard" class="text-decoration-none text-dark">
              <i class="fa-solid fa-house me-1"></i>
              Inicio
            </a>
          </li>
          <li class="breadcrumb-item active fs-5" aria-current="page">
            Tiendas
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!--**************************-->
<!--********** BODY **********-->
<div class="row">
  <div class="col-4">
    <div class="card shadow rounded border-light-subtle p-3">

      <ng-container *ngIf="template() === 'NEW'; else editBlock">
        <app-stores-new
          (saved)="onSavedOrUpdated()"
        ></app-stores-new>
      </ng-container>

      <ng-template #editBlock>
        <app-stores-edit></app-stores-edit>

      </ng-template>
    </div>
  </div>
  <div class="col-8">
    <!--**************************-->
    <!--********** LIST **********-->
    <div class="card shadow rounded border-light-subtle p-3">
      <!-- TABLE -->
      <div class="table-responsive mb-3">
        <table class="table table-striped text-center">
          <thead>
          <tr class="text-nowrap">
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">CÓDIGO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DISTRITO</th>
            <th scope="col">PROVINCIA</th>
            <th scope="col">DEPARTAMENTO</th>
            <th scope="col">REGISTRADO POR</th>
            <th scope="col">FECHA REGISTRO</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-nowrap" *ngFor="let store of stores;  let i=  index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="onEdit(store)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(store.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
            <td>{{ store.code }}</td>
            <td>{{ store.name }}</td>
            <td>{{ store.districtName }}</td>
            <td>{{ store.provinceName }}</td>
            <td>{{ store.stateName }}</td>
            <td>{{ store.createdBy }}</td>
            <td>{{ store.createdAt.toDate() | date:'medium' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--  <ngb-pagination [collectionSize]="filteredProducts.length || 0" [(page)]="page" [pageSize]="pageSize"/>-->
    </div>
  </div>
</div>
