<p class="fw-medium">EDITAR TIENDA</p>

<form [formGroup]="editForm" (ngSubmit)="toEdit()">

  <!-- STATE -->
  <div class="form-floating mb-3">
    <select
      class="form-select"
      id="departmentSelect"
      formControlName="state"
      (change)="onDepartamentoChange(editForm.get('state')?.value)"
    >
      <option [ngValue]="null" disabled>Departamento</option>
      <option *ngFor="let dep of departamentos" [value]="dep.code">{{ dep.name }}</option>
    </select>
    <label for="departmentSelect">Departamento</label>
  </div>

  <!-- PROVINCE -->
  <div class="form-floating mb-3">
    <select
      class="form-select"
      id="provinceSelect"
      formControlName="province"
      (change)="onProvinciaChange(editForm.get('province')?.value)"
    >
      <option [ngValue]="null" disabled>Provincia</option>
      <option *ngFor="let prov of provincias" [value]="prov.code">{{ prov.name }}</option>
    </select>
    <label for="provinceSelect">Provincia</label>
  </div>

  <!-- DISTRICT -->
  <div class="form-floating mb-3">
    <select
      class="form-select"
      id="districtSelect"
      formControlName="district"
    >
      <option [ngValue]="null" disabled>Distrito</option>
      <option *ngFor="let dist of distritos" [value]="dist.code">{{ dist.name }}</option>
    </select>
    <label for="districtSelect">Distrito</label>
  </div>

  <!-- CODE STORE -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      formControlName="code"
      placeholder="Ejemplo: BCHO3"
    />
    <label for="code">Código</label>
  </div>

  <!-- NAME STORE -->
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Ejemplo: CHORRILLOS 03"
    />
    <label for="name">Nombre de tienda</label>
  </div>

  <!-- BUTTONS -->
  <div class="row">
    <div class="col-6">
      <button type="reset" class="btn btn-danger w-100" (click)="toCancel()">
        <i class="fa-solid fa-ban me-1"></i>
        Cancel
      </button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-success w-100">
        <i class="fa-solid fa-floppy-disk me-1"></i>
        Guardar
      </button>
    </div>
  </div>

</form>
