<!--*****************************-->
<!--********** HEADER ***********-->
<div class="card shadow rounded border-light-subtle p-3 mb-3">
  <div class="row">

    <!-- TITLE - NAV -->
    <div class="col-6 d-flex align-items-start">
      <nav class="ms-1" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb pb-0 mb-0">
          <li class="breadcrumb-item fs-5">
            <a href="/dashboard" class="text-decoration-none text-dark">
              <i class="fa-solid fa-house me-1"></i>
              Inicio
            </a>
          </li>
          <li class="breadcrumb-item active fs-5" aria-current="page">
            Movimientos
          </li>
        </ol>
      </nav>
    </div>

    <!-- BUTTONS -->
    <div class="col-6 d-flex justify-content-end">

      <!-- FILTER -->
      <button type="button" class="btn btn-secondary me-2">
        <i class="fa-solid fa-sliders"></i>
        Filtros
      </button>

      <!-- NEW -->
      <button type="button" class="btn btn-primary me-2">
        <i class="fa-solid fa-plus"></i>
        Nuevo
      </button>

      <!-- EXPORT -->
      <button type="button" class="btn btn-success me-2">
        <i class="fa-solid fa-file-excel"></i>
        Exportar
      </button>
    </div>
  </div>
</div>
