<!--******************-->
<!--***** HEADER *****-->
<div class="card shadow rounded border-light-subtle ps-3 pt-3 pe-3 pb-2 mb-2">
  <div class="row">

    <!-- TITLE - NAV -->
    <div class="col-6 d-flex align-items-start">
      <nav class="ms-1" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb pb-0 mb-0">
          <li class="breadcrumb-item fs-5">
            <a href="/dashboard" class="text-decoration-none text-dark">
              <i class="fa-solid fa-house me-1"></i>
              Inicio
            </a>
          </li>
          <li class="breadcrumb-item active fs-5" aria-current="page">
            Inventarios
          </li>
        </ol>
      </nav>
    </div>

    <!-- BUTTONS -->
    <div class="col-6 d-flex justify-content-end">
      <!-- FILTER -->
      <button type="button" class="btn btn-secondary">
        <i class="fa-solid fa-sliders"></i>
        Filtros
      </button>
    </div>
  </div>
</div>


<!--*************************-->
<!--***** FORM AND LIST *****-->
<div class="row">
  <div class="col-4">
    <div class="card shadow rounded border-light-subtle p-3">
      @if (template === "NEW") {
        <app-inventories-new></app-inventories-new>
      } @else {
        <app-inventories-edit></app-inventories-edit>
      }
    </div>
  </div>
  <div class="col-8">
    <div class="card shadow rounded border-light-subtle p-3 pb-2">
      <!-- TABLE -->
      <div class="table-responsive mb-3">
        <table class="table table-striped text-center">
          <thead>
          <tr class="text-nowrap">
            <th scope="col">#</th>
            <th scope="col">CÓDIGO</th>
            <th scope="col">TIENDA</th>
            <th scope="col"></th>
            <th scope="col">ESTADO</th>
            <th scope="col">PRODUCTOS CONTADOS</th>
            <th scope="col">F. INICIO</th>
            <th scope="col">F. CIERRE</th>
            <th scope="col">REGISTRADO POR</th>
            <th scope="col">ÚLTIMA ACTUALIZACIÓN</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-nowrap">
            <th scope="row">3</th>
            <td>INV-CHO-003</td>
            <td>CHORRILLOS 01</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm"
                      (click)="router.navigate(['/inventories/view','INV-CHO01-001' ])">
                <i class="fa-solid fa-list-check"></i>
              </button>
            </td>
            <td>
              <span class="text-decoration-none text-success fw-medium">Abierto</span>
            </td>
            <td>
              <span class="text-success fw-medium">356</span>
              <span> / </span>
              <span class="text-danger fw-medium">380</span>
            </td>
            <td>Junio, 1 - 2025</td>
            <td><span class="text-muted">En proceso. . .</span></td>
            <td>Herbert Pro</td>
            <td>Junio, 3 - 2025</td>
          </tr>
          <tr class="text-nowrap">
            <th scope="row">2</th>
            <td>INV-BAR-002</td>
            <td>BARRANDO 04</td>
            <td>
              <button type="button" class="btn btn-secondary btn-sm"
                      (click)="router.navigate(['/inventories/view','INV-CHO01-001' ])">
                <i class="fa-solid fa-list-check"></i>
              </button>
            </td>
            <td>
              <span class="text-decoration-none text-secondary fw-medium">Cerrado</span>
            </td>
            <td>
              <span class="text-success fw-medium">890</span>
              <span> / </span>
              <span class="text-danger fw-medium">1034</span>
            </td>
            <td>Mayo, 1 - 2025</td>
            <td>Mayo, 5 - 2025</td>
            <td>Herbert Pro</td>
            <td>Mayo, 5 - 2025</td>
          </tr>
          <tr class="text-nowrap">
            <th scope="row">1</th>
            <td>INV-CHO-004</td>
            <td>CHORRILLOS 04</td>
            <td>
              <button type="button" class="btn btn-secondary btn-sm"
                      (click)="router.navigate(['/inventories/view','INV-CHO01-001' ])">
                <i class="fa-solid fa-list-check"></i>
              </button>
            </td>
            <td>
              <span class="text-decoration-none text-secondary fw-medium">Cerrado</span>
            </td>
            <td>
              <span class="text-success fw-medium">200</span>
              <span> / </span>
              <span class="text-danger fw-medium">400</span>
            </td>
            <td>Abril, 1 - 2025</td>
            <td>Abril, 5 - 2025</td>
            <td>Herbert Pro</td>
            <td>Abril, 5 - 2025</td>
          </tr>

          </tbody>
        </table>
      </div>
      <!--  <ngb-pagination [collectionSize]="filteredProducts.length || 0" [(page)]="page" [pageSize]="pageSize"/>-->
    </div>
  </div>
</div>


