<form [formGroup]="newForm" (ngSubmit)="saveStore()">
  <!-- Departamento -->
  <div class="form-floating mb-3">
    <select class="form-select" id="departmentSelect" formControlName="state">
      <option value="">Departamento</option>
      <option *ngFor="let dep of departamentos" [value]="dep.code">{{ dep.name }}</option>
    </select>
    <label for="departmentSelect">Departamento</label>
  </div>
  <!-- Provincia -->
  <div class="form-floating mb-3">
    <select class="form-select" id="provinceSelect" formControlName="province">
      <option value="">Provincia</option>
      <option *ngFor="let prov of provincias" [value]="prov.code">{{ prov.name }}</option>
    </select>
    <label for="provinceSelect">Provincia</label>
  </div>
  <!-- Distrito -->
  <div class="form-floating mb-3">
    <select class="form-select" id="districtSelect" formControlName="district">
      <option value="">Distrito</option>
      <option *ngFor="let dist of distritos" [value]="dist.code">{{ dist.name }}</option>
    </select>
    <label for="districtSelect">Distrito</label>
  </div>
  <!-- Código de tienda -->
  <div class="form-floating mb-3">
    <input class="form-control" type="text" formControlName="code" placeholder="Ejemplo: BCHO3" />
    <label for="code">Código</label>
  </div>
  <!-- Nombre de tienda -->
  <div class="form-floating mb-3">
    <input class="form-control" type="text" formControlName="name" placeholder="Ejemplo: CHORRILLOS 03" />
    <label for="name">Nombre de tienda</label>
  </div>
  <button class="btn btn-success" type="submit" [disabled]="newForm.invalid">Guardar</button>
</form>
