<p class="fw-medium">NUEVO INVENTARIO</p>

<form [formGroup]="inventoryForm" (ngSubmit)="saveInventory()">

  <!-- STORE -->
  <div class="form-floating mb-3">
    <select
      class="form-select"
      id="storeSelect"
      aria-label="Floating label select example"
      formControlName="store"
    >
      <option value="" disabled selected>Selecciona tienda</option>
      <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
    </select>
    <label for="storeSelect">Selecciona tienda</label>
  </div>

  <!-- CODE -->
  <div class="form-floating mb-3">
    <input
      id="codeInput"
      class="form-control"
      [value]="generatedCode"
      readonly
      tabindex="-1"
      placeholder="Código"
    />
    <label for="codeInput">Código</label>
  </div>

  <div class="mb-4">
    <label for="formFile" class="form-label">Importar base de datos (archivo .xls)</label>
    <input class="form-control" type="file" id="formFile">
  </div>

  <div class="mb-4">
    <p>Productos: 2348 por contar.</p>
  </div>

  <!-- BUTTONS -->
  <div class="row">
    <div class="col">
      <button type="reset" class="btn btn-secondary w-100">
        <i class="fa-solid fa-rotate"></i>
        Reset
      </button>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-success w-100">
        <i class="fa-solid fa-floppy-disk"></i>
        Guardar
      </button>
    </div>
  </div>
</form>
